.sketches-examples {
  padding-bottom: 36px;
}

.sketches-examples__list {
  width: 100%;
  margin-bottom: 18px;
}

.sketches-examples__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--example-gap);
  overflow: hidden;
  max-width: 100%;
  max-height: 400px;

  &:first-child {
    margin-bottom: var(--example-gap);
  }
}

.sketches-examples__img {
  object-fit: cover;
  overflow: hidden;
  min-height: 100%;
  max-height: 400px;

  &_big {
    max-width: 60%;
  }

  &_small {
    max-width: calc(40% - 5px);
  }

  & img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}
