.sketches-examples__list {
  width: 100%;
}

.sketches-examples__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--example-gap);
  overflow: hidden;
  max-width: 100%;
  max-height: 400px;
}

.sketches-examples__img {
  object-fit: cover;
  overflow: hidden;
  min-height: 100%;
  max-height: 400px;
}

.sketches-examples__item:first-child {
  margin-bottom: var(--example-gap);
}

.sketches-example_01, .sketches-example_04 {
  max-width: 60%;
}

.sketches-example_02, .sketches-example_03 {
  max-width: calc(40% - 5px);
}
