:root {
  --more-dark: #0f0200;
  --less-dark: #695549;
  --dark: #381c0c;
  --light: #ddbb8f;
  --lighter: #ead6bb;
  --lightest: #f8f1e9;
  --gap: 12px;
  --example-gap: 5px;
  --quantity: 1;
  --card-width: calc((100% - (var(--gap) * (var(--quantity) - 1))) / var(--quantity));
  --radius-big: 10px;
}

@media (min-width: 1200px) {
  :root {
    --radius-big: 20px ;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: var(--lightest);
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media (min-width: 1921px) {
  section, header {
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 540px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 722px) {
  :root {
    --quantity: 2;
  }
}
@media (min-width: 1092px) {
  :root {
    --quantity: 3;
  }
}
@media (min-width: 1468px) {
  :root {
    --quantity: 4;
  }
}
.basic-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.section-title {
  display: inline-block;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}

.btn-more {
  display: block;
  margin: 0;
  min-width: 100px;
  min-height: 40px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--light);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.btn-more:hover, .btn-more:active {
  background-color: var(--lighter);
}

.btn-more__link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}
.btn-more__link svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@font-face {
  font-family: "Leotaro";
  src: local("LeotaroRegular"), local("Leotaro-Regular"), url("../fonts/LeotaroRegular.woff2") format("woff2"), url("../fonts/LeotaroRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("RobotoLight"), local("Roboto-Light"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"), local("Roboto-Regular"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    display: block;
    width: 12px;
    height: 100vh;
    background-color: transparent;
  }
  .scrollbar__thumb {
    position: absolute;
    z-index: 6;
    right: 3px;
    display: block;
    width: 10px;
    height: 48px;
    background-color: var(--less-dark);
    border-radius: 9px;
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
  }
}
.scrollbar:hover .scrollbar__thumb {
  opacity: 0.5;
}

.body__back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.body__back.be {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(15, 2, 0, 0.55) 50%, rgba(15, 2, 0, 0.4) 80%, rgba(15, 2, 0, 0.2));
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  transition: top 0.3s ease-in-out;
}
.header.hidden {
  top: -100%;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1921px) {
  .header__container {
    margin: 0 auto;
    max-width: 1920px;
    flex-grow: 0;
  }
}
@media (min-width: 451px) {
  .header__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
@media (min-width: 1025px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media (max-width: 768px) {
  .header__container {
    text-align: center;
    justify-content: space-between;
  }
}
.header__container > *,
.header__container > ::before,
.header__container > ::after {
  flex-grow: 1;
  flex-shrink: 1;
}

.header__title__container {
  flex-grow: 1;
}

.header__title__link {
  display: inline;
  pointer-events: none;
}

.header__title {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  padding-right: 5px;
  flex-shrink: 1;
  pointer-events: auto;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  font-size: 36px;
  color: var(--light);
  transition: color 0.15s ease-in-out;
}

@media (max-width: 540px) {
  .header__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .header__container {
    flex-grow: 0;
    text-align: center;
  }
  .header__title__container {
    flex-grow: 0;
  }
  .header__title__link {
    margin-right: 0;
  }
  .header__title {
    display: flex;
  }
}
.header__title:hover {
  color: var(--lighter);
}

.header-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-nav__list {
  display: inline-flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .header-nav__list {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .header-nav__list {
    gap: 60px;
  }
}
.header-nav__item {
  list-style-type: none;
}

.header-nav__link {
  position: relative;
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--light);
  text-transform: uppercase;
  transition: color 0.15s ease-in-out;
}
.header-nav__link:hover, .header-nav__link:focus, .header-nav__link:active {
  color: var(--lighter);
}
.header-nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--lighter);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}
.header-nav__link:hover::before, .header-nav__link:active::before {
  width: 80%;
}

.header-nav__tel {
  white-space: nowrap;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .header-nav__tel {
    display: none;
  }
}
.header__burger {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  gap: 20px;
  z-index: 11;
}

.navbar {
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 100%;
  z-index: 13;
  flex-grow: 0;
  justify-self: end;
}

.navbar__container {
  width: 100%;
  height: 100%;
}

.navbar__wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  flex-basis: 40px;
  flex-grow: 0;
}

.hamb {
  display: flex;
  align-items: center;
  flex-basis: 40px;
  flex-grow: 0;
}

.hamb__field {
  cursor: pointer;
  padding-left: 5px;
  width: 38px;
  height: 33px;
}

.hamb__bar {
  display: block;
  margin: 5px auto;
  width: 33px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--light);
  transition: 0.2s;
}

.hamb__field:hover .hamb__bar {
  background-color: var(--lighter);
}

.popup {
  display: none;
}

.popup.open {
  position: absolute;
  z-index: 12;
  top: -10px;
  right: -10px;
  padding: 24px 18px 21px 18px;
  width: 240px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.3);
}

.menu {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.menu__item {
  margin-right: auto;
  width: 100%;
  text-align: left;
}

.menu__link {
  display: inline-block;
  padding: 4px 5px;
  border-radius: 5px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: var(--dark);
  transition: color 0.2s;
}
.menu__link:first-child {
  max-width: 175px;
}

.menu-products {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  width: 210px;
}

.menu-products__link {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px 5px 3px 8px;
  min-width: 100%;
  max-width: 200px;
  border-radius: 5px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  color: var(--dark);
}
.menu-products__link_last {
  margin: 0;
}

.menu__link:hover, .menu-products__link:hover {
  color: var(--more-dark);
  background-color: rgba(0, 0, 0, 0.05);
}

.hamb__field.active .hamb__bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .hamb__bar:nth-child(1) {
  width: 35px;
  height: 3px;
  background-color: var(--dark);
  transform: translateY(8px) rotate(45deg);
}
.hamb__field.active .hamb__bar:nth-child(3) {
  width: 35px;
  height: 3px;
  background-color: var(--dark);
  transform: translateY(-8px) rotate(-45deg);
}
.hamb__field.active:hover .hamb__bar:nth-child(1), .hamb__field.active:hover .hamb__bar:nth-child(3) {
  background-color: var(--less-dark);
}

.home {
  position: relative;
  display: flex;
  align-items: end;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 100%;
  /* height: calc(100* var(--vh, 1vh)); */
  height: 550px;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .home {
    height: 700px;
  }
}
@media (min-width: 769px) {
  .home {
    margin-bottom: 60px;
  }
}
@media (min-width: 1025px) {
  .home {
    margin-bottom: 80px;
  }
}
@media (min-width: 1600px) {
  .home {
    height: 800px;
  }
}
@media (min-width: 1920px) {
  .home {
    max-width: 1920px;
    margin: 0 auto 40px;
  }
}
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.home__img_dark::after {
  animation: homeDark 2s ease-in 1;
  background-color: transparent;
}

@keyframes homeDark {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: transparent;
  }
}
.home-subtitle {
  position: relative;
}

.home-subtitle__title {
  margin-bottom: 150px;
  margin-left: 30px;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  font-size: 36px;
  color: var(--light);
}

.home-subtitle__line {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: var(--light);
}

.home-subtitle__line_horizontal {
  bottom: 120px;
  left: 48px;
  height: 1px;
  width: 600px;
}

.home-subtitle__line_vertical {
  bottom: 48px;
  left: 72px;
  height: 240px;
  width: 1px;
}

.home__address {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--light);
  background-image: linear-gradient(transparent, rgba(15, 2, 0, 0.5) 80%, rgba(15, 2, 0, 0.55) 50%);
}

@media (min-width: 769px) {
  .home__address {
    display: none;
  }
}
.home__tel {
  margin: 0;
  padding: 8px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--light);
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
.home__tel:hover, .home__tel:active {
  color: var(--lighter);
}

.home__line {
  display: block;
  width: 1px;
  max-width: 1px;
  height: 100%;
  background-color: var(--light);
}

.catalog {
  margin-top: 70px;
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .catalog {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
.catalog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .catalog__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .catalog__container {
    gap: 60px;
  }
}
@media (min-width: 768px) {
  .catalog__texts {
    width: 40%;
    min-width: 250px;
    max-width: 520px;
  }
}
.catalog__title {
  margin: 12px 0;
  padding: 8px 8px 0 0;
}

.catalog__text {
  margin-bottom: 18px;
}

.download-link {
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: color 0.15s ease-in-out;
}
.download-link:hover, .download-link:focus, .download-link:active {
  color: var(--less-dark);
}
.download-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--less-dark);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}
.download-link:hover::after, .download-link:focus::after, .download-link:active::after {
  width: 80%;
}

.catalog__slider {
  position: relative;
  z-index: 5;
  margin-bottom: 12px;
  width: 100%;
  height: 70vw;
  max-height: 360px;
  border-radius: var(--radius-big);
  overflow: hidden;
}

@media (min-width: 480px) {
  .catalog__slider {
    margin: 0 auto 12px;
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .catalog__slider {
    margin: 0 0 12px;
    width: calc(60% - 30px);
    max-width: none;
    height: 380px;
    max-height: none;
  }
}
@media (min-width: 1024px) {
  .catalog__slider {
    width: calc(60% - 60px);
    height: 450px;
  }
}
@media (min-width: 1400px) {
  .catalog__slider {
    height: 550px;
  }
}
.product-button {
  position: relative;
  margin: 0 auto;
  margin-top: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-button {
  position: absolute;
  z-index: 6;
  top: 45%;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prev-button {
  left: 5px;
  padding: 10px 10px 10px 0;
}

.next-button {
  right: 5px;
  padding: 10px 0 10px 10px;
}

.slider-button-img {
  height: 65px;
  width: 35px;
}

.slider-button-img path {
  width: 100%;
  height: 100%;
  opacity: 70%;
  transition: 0.2s;
  fill: rgb(230, 230, 230);
}

.slider-button-img:hover,
.slider-button:hover .slider-button-img path {
  opacity: 100%;
}

.slider-button-img:active,
.slider-button:active .slider-button-img path {
  opacity: 100%;
}

.catalog-slider__indicator {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.indicator__point {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--lightest);
  transition: all 0.2s ease-out;
}

/* catalog-nav*/
.catalog-nav {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 18px 30px;
  max-width: 1227px;
  /* border-top: 1px solid var(--dark); */
}

@media (min-width: 1025px) {
  .catalog-nav {
    width: 70%;
  }
}
/* @media(max-width: 1024px) {
  .catalog-nav {
    margin-bottom: 80px;
  }
}

@media(max-width: 768px) {
  .catalog-nav {
    margin-bottom: 50px;
  }
} */
.catalog-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
}

.catalog-nav__link {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  padding: 5px 8px;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--dark);
  transition: color 0.15s ease-in-out;
}
.catalog-nav__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--less-dark);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}
.catalog-nav__link:hover::after, .catalog-nav__link:focus::after, .catalog-nav__link:active::after {
  width: 75%;
}
.catalog-nav__link:hover, .catalog-nav__link:focus, .catalog-nav__link:active {
  color: var(--less-dark);
}

.process-examples {
  padding-bottom: 48px;
}

.sketches-examples {
  padding-bottom: 36px;
  background: var(--less-dark) url("../img/sketches-example.jpg") bottom right/cover no-repeat;
}

@media (min-width: 769px) {
  .sketches-examples {
    margin-bottom: 18px;
    padding: 0;
    height: 100vh;
    max-height: 800px;
  }
}
.sketches-examples__list {
  width: 100%;
  margin-bottom: 18px;
  border-radius: 12px;
  overflow: hidden;
}

@media (min-width: 769px) {
  .sketches-examples__list {
    display: none;
  }
}
.sketches-examples__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--example-gap);
  overflow: hidden;
  max-width: 100%;
  max-height: 400px;
}
.sketches-examples__item:first-child {
  margin-bottom: var(--example-gap);
}

.sketches-examples__img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  min-height: 100%;
  max-height: 400px;
}
.sketches-examples__img_big {
  max-width: 60%;
}
.sketches-examples__img_small {
  max-width: calc(40% - 5px);
}
.sketches-examples__img img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

@media (min-width: 769px) {
  .sketches-examples__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sketches-examples__title {
    display: none;
  }
}
.sketches-slider {
  display: none;
}

@media (min-width: 769px) {
  .sketches-slider {
    display: flex;
    height: 100%;
    max-height: 740px;
    justify-content: center;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.sketches-slider__title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: 48px;
}
.sketches-slider__title span {
  display: block;
  height: 95px;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  font-size: 130px;
  text-transform: uppercase;
  color: var(--dark);
  transform: rotate(270deg);
}

@media (max-width: 1280px) {
  .sketches-slider__title {
    margin-right: 36px;
  }
  .sketches-slider__title span {
    height: 90px;
    font-size: 120px;
  }
}
@media (max-width: 1024px) {
  .sketches-slider__title {
    display: none;
  }
}
.sketches-slider__zoom {
  display: block;
  width: 100%;
  max-width: 900px;
  height: 100%;
  min-height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.sketches-slider__zoom img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sketches-slider__preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  width: 180px;
  min-width: 180px;
  margin-left: 30px;
}

@media (max-width: 1280px) {
  .sketches-slider__preview {
    width: 150px;
    min-width: 150px;
  }
}
@media (max-width: 1024px) {
  .sketches-slider__preview {
    width: 150px;
    min-width: 150px;
    margin-left: 21px;
  }
}
.sketches-slider__preview__item {
  position: relative;
  display: block;
  width: 100%;
  height: 135px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.sketches-slider__preview__item img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sketches-slider__preview__item.active {
  transform: scale(1.08);
}
.sketches-slider__preview__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  transition: all 0.15s ease-in-out;
}
.sketches-slider__preview__item.active::after {
  opacity: 0;
}
.sketches-slider__preview__item:not(.active):hover::after {
  opacity: 0.2;
}

@media (min-width: 769px) {
  .sketches-examples__btn {
    display: none;
  }
}
.about-us {
  scroll-margin-block-start: 90px;
}

.about-club {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1025px) {
  .about-us__title {
    margin-bottom: 0;
  }
  .about-club-text {
    padding-bottom: 40px;
  }
}
.about-us__img {
  width: 50.7%;
}

.about-club-text {
  width: 40.57%;
}

@media (max-width: 768px) {
  .about-club {
    flex-direction: column-reverse;
  }
  .about-us__img {
    width: 100%;
    margin-bottom: 15px;
  }
  .about-club-text {
    width: 100%;
  }
}
.about-bogun {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) {
  .about-bogun {
    padding: 40px 0 60px;
  }
}
.about-bogun__title {
  text-transform: none;
  border-bottom: 1px solid var(--dark);
}

.about-bogun__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.about-us__logo {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .about-bogun__desc {
    flex-direction: row;
    justify-content: center;
  }
  .about-us__logo {
    margin: 0 30px 0 0;
    max-width: 300px;
  }
}
@media (min-width: 769px) {
  .about-bogun__desc {
    width: 70%;
  }
}
.about-bogun__list {
  padding-left: 20px;
}

.about-bogun__item {
  margin-bottom: 5px;
  list-style-type: circle;
}

.contacts {
  margin-bottom: 24px;
  scroll-margin-block-start: 90px;
}

@media (min-width: 769px) {
  .contacts {
    margin-bottom: 48px;
  }
}
@media (min-width: 1025px) {
  .contacts {
    margin-bottom: 72px;
  }
}
.contacts__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .contacts__text {
    width: 66.2%;
  }
}
.contacts__text {
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4px;
}

.contacts__link {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
}

.contacts__link:hover, .contacts__link:active {
  color: var(--less-dark);
}

.contacts__img {
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .contacts__img {
    padding: 0 72px;
  }
}
@media (min-width: 1025px) {
  .contacts__img {
    padding: 0 90px;
  }
}
.footer {
  max-width: 100%;
  background-color: var(--dark);
}

.footer__container {
  max-width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media (min-width: 1920px) {
  .footer__container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .footer__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media (max-width: 540px) {
  .footer__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.footer__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Leotaro", "Roboto", serif;
  font-weight: normal;
  color: var(--light);
}

@media (min-width: 1280px) {
  .footer__title {
    margin-bottom: 3px;
  }
}
@media (min-width: 769px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 24px;
}

@media (min-width: 1280px) {
  .footer__content__container {
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }
}
.footer-nav {
  max-width: 100%;
  margin-right: 15px;
}

.footer-nav__list {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.footer-nav__item {
  position: relative;
}

.footer-nav__link {
  display: inline-block;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  color: var(--light);
}
.footer-nav__link:hover, .footer-nav__link:active {
  color: var(--lighter);
}
.footer-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--lighter);
  transition: width 0.15s ease-in-out;
  transform: translateX(-50%);
}
.footer-nav__link:hover::after, .footer-nav__link:active::after {
  width: 80%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 8px;
  margin-right: 15px;
}

.footer__link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--light);
  transition: color 0.2s ease-in-out;
}
.footer__link:hover, .footer__link:active {
  color: var(--lighter);
}

.footer__link--sergio {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--lighter);
}
.footer__link--sergio:hover, .footer__link--sergio:active {
  color: var(--lightest);
}

.footer__info {
  padding-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

@media (min-width: 1280px) {
  .footer-nav__list, .footer__info {
    max-width: 550px;
  }
}
.footer__text {
  margin: 0;
  min-width: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 14px;
  color: var(--light);
}

@media (min-width: 541px) {
  .footer__text {
    font-size: 15px;
  }
}
.footer__logo, .footer__logo-big {
  display: none;
}

@media (min-width: 769px) {
  .footer__logo {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
  }
}
@media (min-width: 1600px) {
  .footer__logo {
    display: none;
  }
  .footer__logo-big {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1700px) {
  .footer__content__container {
    gap: 60px;
  }
}
.btn-up {
  display: none;
  position: fixed;
  z-index: 8;
  bottom: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  transition: all 2s ease-in-out;
  transition: display 2s ease-in-out;
}
.btn-up svg {
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--lighter);
  transition: background-color 0.15s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
.btn-up path {
  fill: var(--dark);
}

@media (min-width: 1023px) {
  .btn-up {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */