:root {
  --more-dark: #0f0200;
  --less-dark: #695549;
  --dark: #381c0c;
  --light: #ddbb8f;
  --lighter: #e7d0b0;
  --lightest: #f8f1e9;
  --gap: 12px;
}

@font-face {
  font-family: 'Leotaro';
  src: local('Leotaro-Regular'),
      url('../fonts/LeotaroRegular.woff2') format('woff2'),
      url('../fonts/LeotaroRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Actay-Regular';
  src: local('Actay-Regular'),
      url('../fonts/Actay-Regular.woff2') format('woff2'),
      url('../fonts/Actay-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Actay-Thin';
  src: local('ActayCondensed-Thin'),
      url('../fonts/ActayCondensed-Thin.woff2') format('woff2'),
      url('../fonts/ActayCondensed-Thin.woff') format('woff');
  font-display: swap;
  font-weight: thin;
  /* font-style: normal; */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/RobotoRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight.woff2') format('woff2'),
       url('../fonts/RobotoLight.woff') format('woff');
       font-display: swap;
       font-weight: 300;
       font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: 'Actay', 'Roboto', sans-serif;
  background-color: var(--lightest);
}

@media (max-width: 768px) {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Скрываем scrollbar для IE, Edge и Firefox */
  html {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 1921px) {
  section, header {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 100%;
  padding: 0 72px;
}

@media(max-width: 1024px) {
  .container {
    padding: 0 36px;
  }
}

@media(max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}

.basic-text {
  font-family: 'Actay-Thin', 'Roboto', sans-serif;
  font-weight: thin;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.section-title {
  display: inline-block;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}

/* header */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(15,2,0,0.55) 50%, rgba(15,2,0,0.4) 80%, transparent);
  backdrop-filter: blur(1px);
}

.header-container {
  width: 100%;
  padding: 30px 72px;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

@media(min-width: 1921px) {
  .header-container {
    margin: 0 auto;
    max-width: 1920px;
    flex-grow: 0;
  }
}

@media(max-width: 1024px) {
  .header-container {
    padding: 18px 36px;
  }
}

@media(max-width: 768px) {
  .header-container {
    text-align: center;
    justify-content: space-between;
  }
}

.header-container > *,
.header-container > ::before,
.header-container > ::after {
  flex-grow: 1;
  flex-shrink: 1;
}

.main-title-container {
  flex-grow: 1;
}

.main-title-link {
  display: inline;
  margin-right: auto;
  pointer-events: none;
}

.main-title {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  padding-right: 5px;
  flex-shrink: 1;
  pointer-events: auto;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 36px;
  color: var(--light);
  /* margin-right: 238px; */
  transition: color 0.2s ease-in-out;
}

@media(max-width: 540px) {
  .main-title {
    font-size: 30px;
  }
}

@media(max-width: 768px) {
  .header-container {
    /* justify-content: center; */
    flex-grow: 0;
    text-align: center;
  }
  .main-title-container {
    flex-grow: 0;
  }
  .main-title-link {
    margin-right: 0;
  }
  .main-title {
    display: flex;
  }
}

.main-title:hover {
  color: var(--lighter);
}

.header-nav {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.header-list{
  display: inline-flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

@media(max-width: 1024px) {
  .header-list {
    gap: 30px;
  }
}

.header-nav-item {
  list-style-type: none;
}

.header-nav-link {
  padding: 0 3px;
  font-family: 'Actay-Regular', 'Roboto', sans-serif;
  font-weight: normal;
  color: var(--light);
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.header-nav-link:hover {
  color: var(--lighter);
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

.burger-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 11;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar {
  position: relative;
  margin-left: auto;
  width: 100%;
  height: 100%;
  z-index: 13;
  flex-grow: 0;
  justify-self: end;
}

.navbar-container {
  width: 100%;
  height: 100%;
}

.navbar__wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.hamb {
  display: flex;
  align-items: center;
}

.hamb__field {
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: var(--light);
  transition: 0.2s;
}

.popup {
  display: none;
}

.menu-list {
  display: none;
}

.popup.open {
  position: absolute;
  top: 0;
  right: -10px;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  z-index: 12;
  display: flex;
  flex-direction: column;
  padding: 24px 210px 24px 18px;
  transition: 0.3s;
}

.menu-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.menu-item {
  width: 100%;
}

.menu-link {
  width: 100%;
  font-size: 20px;
  font-family: 'Actay-Regular', 'Roboto', sans-serif;
  color: var(--dark);
  transition: color 0.2s;
}

.menu-products-list {
  padding: 0;
  padding-left: 24px;
}

.menu-product-link {
  color: var(--dark);
}

.menu-link:hover, .menu-product-link:hover {
  color: var(--less-dark);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--dark);
  width: 35px;
  height: 3px;
}

.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--dark);
  width: 35px;
  height: 3px;
}
/*
body.noscroll {
  overflow: hidden;
} */


/* home */

.section-home {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  max-width: 100%;
}

@media(min-width: 1920px) {
  .section-home {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media(max-width: 1024px) {
  .section-home {
    margin-bottom: 80px;
  }
}

@media(max-width: 768px) {
  .section-home {
    margin-bottom: 50px;
  }
}

.home-img {
  width: 100%;
}

/* products-nav*/

.products-nav {
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  max-width: 1227px;
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
}

@media(min-width: 1025px) {
  .products-nav {
    width: 70%;
  }
}

@media(max-width: 1024px) {
  .products-nav {
    margin-bottom: 80px;
  }
}

@media(max-width: 768px) {
  .products-nav {
    margin-bottom: 50px;
  }
}

.produts-nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
}

.products-nav-link {
  flex-wrap: wrap;
  padding: 0;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--dark);
  transition: color 0.3s ease-in-out;
}

.products-nav-link:hover {
  color: var(--less-dark);
}

/* about us */

.about-club {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width: 1025px) {
  .about-us-title {
    margin-bottom: 0;
  }
  .about-club-text {
    padding-bottom: 40px;
  }
}

.about-us-img {
  width: 50.7%;
}

.about-club-text {
  width: 40.57%;
}

@media(max-width: 768px) {
  .about-club {
    flex-direction: column-reverse;
  }
  .about-us-img {
    width: 100%;
    margin-bottom: 15px;
  }
  .about-club-text {
    width: 100%;
  }
}

.about-bogun {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 1025px) {
  .about-bogun {
    padding: 40px 0 60px;
  }
}

.about-bogun-title {
  text-transform: none;
}

.about-bogun-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-logo {
  max-width: 30%;
}

.about-bogun-text {
  max-width: 58%
}

@media(min-width: 769px) {
  .about-bogun-desc {
    width: 70%;
  }
}

/* catalog */

.section-catalog {
  margin-bottom: 10px;
}

@media(min-width: 1025px) {
  .section-catalog {
    margin-bottom: 20px;
  }
}

.catalog-text {
  margin-bottom: 18px;
}

@media(min-width: 541px){
  .catalog-text {
    width: 66.2%;
  }
}

.download-link {
  color: var(--dark);
  font-family: 'Actay', 'Roboto', sans-serif;
  font-weight: 400;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  --offsets: 2;
}

.product-card {
  flex-grow: 1;
  min-width: 211px;
  width: calc((100% - (12px * 3)) / 4);
  max-width: 435px;
  min-height: 350px;
  border-radius: 5px;
  overflow: hidden;
  perspective: 1000px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card-inner-01, .card-inner-02, .card-inner-03, .card-inner-04,
.card-inner-05, .card-inner-06, .card-inner-07, .card-inner-08,
.card-inner-09, .card-inner-10, .card-inner-11, .card-inner-12,
.card-inner-13, .card-inner-14, .card-inner-15, .card-inner-16,
.card-inner-17, .card-inner-18, .card-inner-19, .card-inner-20,
.card-inner-21, .card-inner-22, .card-inner-23, .card-inner-24 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card-inner-01.is-flipped, .card-inner-02.is-flipped, .card-inner-03.is-flipped, .card-inner-04.is-flipped,
.card-inner-05.is-flipped, .card-inner-06.is-flipped, .card-inner-07.is-flipped, .card-inner-08.is-flipped,
.card-inner-09.is-flipped, .card-inner-10.is-flipped, .card-inner-11.is-flipped, .card-inner-12.is-flipped,
.card-inner-13.is-flipped, .card-inner-14.is-flipped, .card-inner-15.is-flipped, .card-inner-16.is-flipped,
.card-inner-17.is-flipped, .card-inner-18.is-flipped, .card-inner-19.is-flipped, .card-inner-20.is-flipped,
.card-inner-21.is-flipped, .card-inner-22.is-flipped, .card-inner-23.is-flipped, .card-inner-24.is-flipped {
  transform: rotateY(180deg);
}

.card-rotate-01, .card-rotate-02, .card-rotate-03, .card-rotate-04,
.card-rotate-05, .card-rotate-06, .card-rotate-07, .card-rotate-08,
.card-rotate-09, .card-rotate-10, .card-rotate-11, .card-rotate-12,
.card-rotate-13, .card-rotate-14, .card-rotate-15, .card-rotate-16,
.card-rotate-17, .card-rotate-18, .card-rotate-19, .card-rotate-20,
.card-rotate-21, .card-rotate-22, .card-rotate-23, .card-rotate-24 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-rotate--front-01, .card-rotate--front-02, .card-rotate--front-03, .card-rotate--front-04,
.card-rotate--front-05, .card-rotate--front-06, .card-rotate--front-07, .card-rotate--front-08,
.card-rotate--front-09, .card-rotate--front-10, .card-rotate--front-11, .card-rotate--front-12,
.card-rotate--front-13, .card-rotate--front-14, .card-rotate--front-15, .card-rotate--front-16,
.card-rotate--front-17, .card-rotate--front-18, .card-rotate--front-19, .card-rotate--front-20,
.card-rotate--front-21, .card-rotate--front-22, .card-rotate--front-23, .card-rotate--front-24 {
  padding: 15px;
  padding-bottom: 5px;
  background-image: url(../img/products/table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.front-01 {
  background-image: url(../img/products/lamp-01/lamp-01-1.jpg);
}

.front-02 {
  background-image: url(../img/products/lamp-02/lamp-02-1.jpg);
}

.front-03 {
  background-image: url(../img/products/lamp-03/lamp-03-1.jpg);
}

.front-04 {
  background-image: url(../img/products/lamp-07/lamp-07-1.jpg);
}

.front-05 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-06 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-07 {
  background-image: url(../img/products/lamp-01/lamp-01-1.jpg);
}

.front-08 {
  background-image: url(../img/products/lamp-02/lamp-02-1.jpg);
}

.front-09 {
  background-image: url(../img/products/lamp-03/lamp-03-1.jpg);
}

.front-10 {
  background-image: url(../img/products/lamp-07/lamp-07-1.jpg);
}

.front-11 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-12 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-13 {
  background-image: url(../img/products/lamp-01/lamp-01-1.jpg);
}

.front-14 {
  background-image: url(../img/products/lamp-02/lamp-02-1.jpg);
}

.front-15 {
  background-image: url(../img/products/lamp-03/lamp-03-1.jpg);
}

.front-16 {
  background-image: url(../img/products/lamp-07/lamp-07-1.jpg);
}

.front-17 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-18 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-19 {
  background-image: url(../img/products/lamp-01/lamp-01-1.jpg);
}

.front-20 {
  background-image: url(../img/products/lamp-02/lamp-02-1.jpg);
}

.front-21 {
  background-image: url(../img/products/lamp-03/lamp-03-1.jpg);
}

.front-22 {
  background-image: url(../img/products/lamp-07/lamp-07-1.jpg);
}

.front-23 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.front-24 {
  background-image: url(../img/products/table-08/table-08-1.jpg);
}

.card-rotate--back-01, .card-rotate--back-02, .card-rotate--back-03, .card-rotate--back-04,
.card-rotate--back-05, .card-rotate--back-06, .card-rotate--back-07, .card-rotate--back-08,
.card-rotate--back-09, .card-rotate--back-10, .card-rotate--back-11, .card-rotate--back-12,
.card-rotate--back-13, .card-rotate--back-14, .card-rotate--back-15, .card-rotate--back-16,
.card-rotate--back-17, .card-rotate--back-18, .card-rotate--back-19, .card-rotate--back-20,
.card-rotate--back-21, .card-rotate--back-22, .card-rotate--back-23, .card-rotate--back-24 {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card-back-container {
  padding: 15px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-button {
  position: relative;
  margin: 0 auto;
  margin-top: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.product-title {
  margin: 0;
  padding: 10px;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
}

.product-title-light-01, .product-title-light-02, .product-title-light-03, .product-title-light-04,
.product-title-light-05, .product-title-light-06, .product-title-light-07, .product-title-light-08,
.product-title-light-09, .product-title-light-10, .product-title-light-11, .product-title-light-12,
.product-title-light-13, .product-title-light-14, .product-title-light-15, .product-title-light-16,
.product-title-light-17, .product-title-light-18, .product-title-light-19, .product-title-light-20,
.product-title-light-21, .product-title-light-22, .product-title-light-23, .product-title-light-24 {
  color: var(--light);
}

.product-title-light-01:hover, .product-title-light-02:hover, .product-title-light-03:hover, .product-title-light-04:hover,
.product-title-light-05:hover, .product-title-light-06:hover, .product-title-light-07:hover, .product-title-light-08:hover,
.product-title-light-09:hover, .product-title-light-10:hover, .product-title-light-11:hover, .product-title-light-12:hover,
.product-title-light-13:hover, .product-title-light-14:hover, .product-title-light-15:hover, .product-title-light-16:hover,
.product-title-light-17:hover, .product-title-light-18:hover, .product-title-light-19:hover, .product-title-light-20:hover,
.product-title-light-21:hover, .product-title-light-22:hover, .product-title-light-23:hover, .product-title-light-24:hover {
  color: var(--lighter);
}

.product-title-dark-01, .product-title-dark-02, .product-title-dark-03, .product-title-dark-04,
.product-title-dark-05, .product-title-dark-06, .product-title-dark-07, .product-title-dark-08,
.product-title-dark-09, .product-title-dark-10, .product-title-dark-11, .product-title-dark-12,
.product-title-dark-13, .product-title-dark-14, .product-title-dark-15, .product-title-dark-16,
.product-title-dark-17, .product-title-dark-18, .product-title-dark-19, .product-title-dark-20,
.product-title-dark-21, .product-title-dark-22, .product-title-dark-23, .product-title-dark-24 {

  color: var(--dark);
  padding-top: 6px;
}

.product-title-dark-01:hover, .product-title-dark-02:hover, .product-title-dark-03:hover, .product-title-dark-04:hover,
.product-title-dark-05:hover, .product-title-dark-06:hover, .product-title-dark-07:hover, .product-title-dark-08:hover,
.product-title-dark-09:hover, .product-title-dark-10:hover, .product-title-dark-11:hover, .product-title-dark-12:hover,
.product-title-dark-13:hover, .product-title-dark-14:hover, .product-title-dark-15:hover, .product-title-dark-16:hover,
.product-title-dark-17:hover, .product-title-dark-18:hover, .product-title-dark-19:hover, .product-title-dark-20:hover,
.product-title-dark-21:hover, .product-title-dark-22:hover, .product-title-dark-23:hover, .product-title-dark-24:hover {
  color: var(--less-dark);
}

.product-card-text {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.slider-01, .slider-02, .slider-03, .slider-04,
.slider-05, .slider-06, .slider-07, .slider-08,
.slider-09, .slider-10, .slider-11, .slider-12,
.slider-13, .slider-14, .slider-15, .slider-16,
.slider-17, .slider-18, .slider-19, .slider-20,
.slider-21, .slider-22, .slider-23, .slider-24 {
  display: flex;
  align-items: stretch;
  transition: 2s ease-in-out;
  height: 100%;
}

.product-img-01, .product-img-02, .product-img-03, .product-img-04,
.product-img-05, .product-img-06, .product-img-07, .product-img-08,
.product-img-09, .product-img-10, .product-img-11, .product-img-12,
.product-img-13, .product-img-14, .product-img-15, .product-img-16,
.product-img-17, .product-img-18, .product-img-19, .product-img-20,
.product-img-21, .product-img-22, .product-img-23, .product-img-24 {
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.prev-button-01, .prev-button-02, .prev-button-03, .prev-button-04,
.prev-button-05, .prev-button-06, .prev-button-07, .prev-button-08,
.prev-button-09, .prev-button-10, .prev-button-11, .prev-button-12,
.prev-button-13, .prev-button-14, .prev-button-15, .prev-button-16,
.prev-button-17, .prev-button-18, .prev-button-19, .prev-button-20,
.prev-button-21, .prev-button-22, .prev-button-23, .prev-button-24,
.next-button-01, .next-button-02, .next-button-03, .next-button-04,
.next-button-05, .next-button-06, .next-button-07, .next-button-08,
.next-button-09, .next-button-10, .next-button-11, .next-button-12,
.next-button-13, .next-button-14, .next-button-15, .next-button-16,
.next-button-17, .next-button-18, .next-button-19, .next-button-20,
.next-button-21, .next-button-22, .next-button-23, .next-button-24 {
  position: absolute;
  top: 45%;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prev-button-01, .prev-button-02, .prev-button-03, .prev-button-04,
.prev-button-05, .prev-button-06, .prev-button-07, .prev-button-08,
.prev-button-09, .prev-button-10, .prev-button-11, .prev-button-12,
.prev-button-13, .prev-button-14, .prev-button-15, .prev-button-16,
.prev-button-17, .prev-button-18, .prev-button-19, .prev-button-20,
.prev-button-21, .prev-button-22, .prev-button-23, .prev-button-24 {
  left: 5px;
  padding: 12px 12px 12px 3px;
}

.next-button-01, .next-button-02, .next-button-03, .next-button-04,
.next-button-05, .next-button-06, .next-button-07, .next-button-08,
.next-button-09, .next-button-10, .next-button-11, .next-button-12,
.next-button-13, .next-button-14, .next-button-15, .next-button-16,
.next-button-17, .next-button-18, .next-button-19, .next-button-20,
.next-button-21, .next-button-22, .next-button-23, .next-button-24 {
  right: 5px;
  padding: 12px 3px 12px 12px;
}

.slider-button {
  height: 27px;
  width: 14px;
  opacity: 60%;
  transition: 0.2s;
}

.slider-button:hover {
  opacity: 90%;
}

.slider-button:active {
  opacity: 100%;
}

/* contacts */

.section-contacts {
  margin-bottom: 24px;
}

@media(min-width: 769px) {
  .section-contacts {
    margin-bottom: 48px;
  }
}

@media(min-width: 1025px) {
  .section-contacts {
    margin-bottom: 72px;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
}

@media(min-width: 1025px) {
  .contacts-text {
    width: 66.2%;
  }
}

.contacts-link {
  font-family: 'Actay-Regular', 'Roboto', sans-serif;
  color: var(--dark);
  transition: color 0.2s ease-in-out;
}

.contacts-link:hover {
  color: var(--more-dark);
}

.contacts-img-container{
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

@media(min-width: 769px) {
  .contacts-img-container {
    padding: 0 72px;
  }
}

@media(min-width: 1025px) {
  .contacts-img-container {
    padding: 0 90px;
  }
}

/* footer */

.footer {
  max-width: 100%;
  background-color: var(--dark);
}

.footer-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 72px;
  flex-grow: 1;
  flex-shrink: 1;
}

@media(min-width: 1920px) {
  .footer-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media(max-width: 1024px) {
  .footer-container {
    padding: 24px 36px;
  }
}

@media(max-width: 768px) {
  .footer-container {
    padding: 24px 24px;
  }
}

@media(max-width: 540px) {
  .footer-container {
    padding: 18px 15px;
  }
}

.footer-title {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  color: #ddbb8f;
}

.footer-nav {
  max-width: 60%;
}

.footer-nav-list {
  display: flex;
  column-gap: 18px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.footer-nav-link {
  font-family: 'Actay-Thin';
  color: var(--light);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80px;
  flex-grow: 1;
}

.footer-text {
  /* display: inline-flex;s */
  margin: 0;
  font-family: 'Actay-Thin';
  text-align: center;
  font-size: 12px;
  color: #ddbb8f;
}

@media(min-width: 541px) {
  .footer-text {
    font-size: 15px;
  }
}

.footer-logo {
  min-width: 48px;
  min-height: 48px;
  margin-bottom: 12px;
}
