:root {
  --primary: #381c0c;
  --secondary: #ddbb8f;
  --gap: 12px;
}

@font-face {
  font-family: 'Leotaro';
  src: local('Leotaro-Regular'),
      url('../fonts/LeotaroRegular.woff2') format('woff2'),
      url('../fonts/LeotaroRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Actay-Regular';
  src: local('Actay-Regular'),
      url('../fonts/Actay-Regular.woff2') format('woff2'),
      url('../fonts/Actay-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Actay';
  src: local('ActayCondensed-Thin'),
      url('../fonts/ActayCondensed-Thin.woff2') format('woff2'),
      url('../fonts/ActayCondensed-Thin.woff') format('woff');
  font-display: swap;
  font-weight: thin;
  /* font-style: normal; */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/RobotoRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight.woff2') format('woff2'),
       url('../fonts/RobotoLight.woff') format('woff');
       font-display: swap;
       font-weight: 300;
       font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: 'Actay', 'Roboto', sans-serif;
  background-color: #f8f1e9;
}

@media (max-width: 768px) {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Скрываем scrollbar для IE, Edge и Firefox */
  html {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 1921px) {
  section, header {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 100%;
  padding: 0 72px;
}

.basic-text {
  font-family: 'Actay', 'Roboto', sans-serif;
  font-weight: thin;
  color: #381c0c;
  margin: 0;
  padding: 0;
}

.section-title {
  display: inline-block;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #381c0c;
  border-bottom: 2px solid #381c0c;
}

/* header */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  /* display: flex; */
  background-image: linear-gradient(rgba(0,0,0,0.55) 50%, rgba(0,0,0,0.4) 80%, transparent);
  backdrop-filter: blur(1px);
}

.header-container {
  width: 100%;
  padding: 30px 72px;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

@media(min-width: 1920px) {
  .header-container {
    max-width: 1920px;
    flex-grow: 0;
    margin: 0 auto;
  }
}

.header-container > *,
.header-container > ::before,
.header-container > ::after {
  flex-grow: 1;
  flex-shrink: 1;
}

.main-title-link {
  display: flex;
  margin: 0;
}

.main-title {
  flex-shrink: 1;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 35px;
  color: #ddbb8f;
  margin: 0;
  /* margin-right: 238px; */
}

.header-nav {
  display: inline-block;
  margin: 0 auto;
  padding: 0 auto;
}

.header-list{
  display: inline-flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  list-style-type: none;
}

.header-nav-link {
  font-family: 'Actay-Regular', 'Roboto', sans-serif;
  font-weight: normal;
  color: #ddbb8f;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

.burger-nav {
  display: flex;
}

.burger-button {
  margin: 0;
  margin-right: 0;
  padding: 0;
  min-width: 30px;
  min-height: 18px;
  flex-grow: 1;
  border: 0;
  background-color: var(--secondary);
}

/* home */

.section-home {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media(min-width: 1920px) {
  .section-home {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.home-img {
  width: 100%;
}

/* products-nav*/

.products-nav {
  border-top: 2px solid #381c0c;
  border-bottom: 2px solid #381c0c;
  max-width: 1227px;
  margin: 0 auto;
}

.produts-nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
}

.products-nav-link {
  flex-wrap: wrap;
  padding: 0;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #381c0c;
}

.download-link {
  color: #381c0c;
  font-family: 'Actay', 'Roboto', sans-serif;
  font-weight: 400;
}

/* catalog */

.catalog-text {
  width: 66.2%;
  margin-bottom: 18px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  --offsets: 2;
  background-color: rgba(0,0,0,0.3);
}

.product-card {
  flex-grow: 1;
  min-width: 211px;
  width: calc((100% - (12px * 3)) / 4);
  /* max-width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) +1)); */
  min-height: 241px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-rotate {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 15px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-rotate--front {
  background-image: url(../img/products/table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-rotate--back {
  background-color: #e7d0b0;
  transform: rotateY(180deg);
}

.product-button {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.product-title {
  margin: 0;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  color: black;
  transition: color 0.2s;
}

.product-title:hover {
  color: var(--primary);
}

.product-card-text {
  text-align: center;
}

/* footer */

.footer {
  max-width: 100%;
  background-color: #381c0c;
}

.footer-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 72px;
}

@media(min-width: 1920px) {
  .footer-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.footer-title {
  margin: 0;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  color: #ddbb8f;
}

.footer-nav-list {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.footer-nav-link {
  color: #ddbb8f;
}

.footer-info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  display: inline-flex;
  margin: 0;
  text-align: center;
  color: #ddbb8f;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

/* it is need */
