:root {
  --more-dark: #0f0200;
  --less-dark: #695549;
  --dark: #381c0c;
  --light: #ddbb8f;
  --lighter: #ead6bb;
  --lightest: #f8f1e9;
  --gap: 12px;
  --example-gap: 5px;
  --quantity: 1;
  --card-width: calc((100% - (var(--gap) * (var(--quantity) - 1))) / var(--quantity));
}

@font-face {
  font-family: 'Leotaro';
  src: local('Leotaro-Regular'),
      url('../fonts/LeotaroRegular.woff2') format('woff2'),
      url('../fonts/LeotaroRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight.woff2') format('woff2'),
       url('../fonts/RobotoLight.woff') format('woff');
       font-display: swap;
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/RobotoRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--lightest);
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (min-width: 1921px) {
  section, header {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media(min-width: 540px) {
  .container {
    padding: 0 15px;
  }
}

@media(min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media(min-width: 1280px) {
  .container {
    padding: 0 36px;
  }
}

@media(min-width: 1600px) {
  .container {
    padding: 0 72px;
  }
}

@media(min-width: 722px) {
  :root {
  --quantity: 2;
  }
}

@media(min-width: 1092px) {
  :root {
  --quantity: 3;
  }
}

@media(min-width: 1468px) {
  :root {
  --quantity: 4;
  }
}

.basic-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.section-title {
  display: inline-block;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}

/* header */

.body_back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.body_back.be {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(15,2,0,0.55) 50%, rgba(15,2,0,0.4) 80%, transparent);
  backdrop-filter: blur(1px);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: 16px 20px;
  width: 100%;
  max-width: 100%;
}

@media(min-width: 1921px) {
  .header-container {
    margin: 0 auto;
    max-width: 1920px;
    flex-grow: 0;
  }
}

@media(min-width: 451px) {
  .header-container {
    padding: 18px 24px;
  }
}

@media(min-width: 769px) {
  .header-container {
    padding: 18px 24px;
  }
}

@media(min-width: 1025px) {
  .header-container {
    padding: 21px 36px;
  }
}

@media(min-width: 1441px) {
  .header-container {
    padding: 21px 72px;
  }
}

@media(max-width: 768px) {
  .header-container {
    text-align: center;
    justify-content: space-between;
  }
}

.header-container > *,
.header-container > ::before,
.header-container > ::after {
  flex-grow: 1;
  flex-shrink: 1;
}

.main-title-container {
  flex-grow: 1;
}

.main-title-link {
  display: inline;
  pointer-events: none;
}

.main-title {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  padding-right: 5px;
  flex-shrink: 1;
  pointer-events: auto;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  font-size: 36px;
  color: var(--light);
  transition: color 0.15s ease-in-out;
}

@media(max-width: 540px) {
  .main-title {
    font-size: 30px;
  }
}

@media(max-width: 768px) {
  .header-container {
    flex-grow: 0;
    text-align: center;
  }
  .main-title-container {
    flex-grow: 0;
  }
  .main-title-link {
    margin-right: 0;
  }
  .main-title {
    display: flex;
  }
}

.main-title:hover {
  color: var(--lighter);
}

.header-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header-list{
  display: inline-flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

@media(min-width: 1025px) {
  .header-list {
    gap: 36px;
  }
}

@media(min-width: 1281px) {
  .header-list {
    gap: 60px;
  }
}

.header-nav-item {
  list-style-type: none;
}

.header-nav-link {
  position: relative;
  padding: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--light);
  text-transform: uppercase;
  transition: color 0.15s ease-in-out;
}

.header-nav-link:hover, .header-nav-link:focus, .header-nav-link:active {
  color: var(--lighter);
}

.header-nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--lighter);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}

.header-nav-link:hover::before, .header-nav-link:active::before {
  width: 80%;
}

.header-nav-tel {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

.burger-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 11;
}

.navbar {
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 100%;
  z-index: 13;
  flex-grow: 0;
  justify-self: end;
}

.navbar-container {
  width: 100%;
  height: 100%;
}

.navbar__wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  flex-basis: 40px;
  flex-grow: 0;
}

.hamb {
  display: flex;
  align-items: center;
  flex-basis: 40px;
  flex-grow: 0;
}

.hamb__field {
  cursor: pointer;
  padding-left: 5px;
  width: 38px;
  height: 33px;
}

.bar {
  display: block;
  margin: 5px auto;
  width: 33px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--light);
  transition: 0.2s;
}

.hamb__field:hover .bar {
  background-color: var(--lighter);
}

.popup {
  display: none;
}

.menu-list {
  display: none;
}

.popup.open {
  position: absolute;
  z-index: 12;
  top: -10px;
  right: -10px;
  padding: 24px 18px 21px 18px;
  width: 240px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.3);
}

.menu-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.menu-item {
  margin-right: auto;
  width: 100%;
  text-align: left;
}

.menu-link {
  display: inline-block;
  padding: 4px 5px;
  border-radius: 5px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: var(--dark);
  transition: color 0.2s;
}

.menu-link:first-child {
  max-width: 175px;
}

.menu-products-list {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  width: 210px;
}

.menu-product-link {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px 5px 3px 8px;
  min-width: 100%;
  max-width: 200px;
  border-radius: 5px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  color: var(--dark);
}

.menu-product-link-last {
  margin: 0;
}

.menu-link:hover, .menu-product-link:hover {
  color: var(--more-dark);
  background-color: rgba(0, 0, 0, 0.05);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  width: 35px;
  height: 3px;
  background-color: var(--dark);
  transform: translateY(8px) rotate(45deg);
}

.hamb__field.active .bar:nth-child(3) {
  width: 35px;
  height: 3px;
  background-color: var(--dark);
  transform: translateY(-8px) rotate(-45deg);
}

.hamb__field.active:hover .bar:nth-child(1),
.hamb__field.active:hover .bar:nth-child(3) {
  background-color: var(--less-dark);
}

/* body.noscroll {
  overflow: hidden;
} */

/* home */

.section-home {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 100%;
  height: 550px;
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left 65%;
}

@media(min-width: 1440px) {
  .section-home {
    height: 700px;
  }
}

@media(min-width: 769px) {
  .section-home {
    margin-bottom: 60px;
  }
}

@media(min-width: 1025px) {
  .section-home {
    margin-bottom: 80px;
  }
}

@media(min-width: 1600px) {
  .section-home {
    height: 800px;
  }
}

@media(min-width: 1920px) {
  .section-home {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.home-address {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--light);
  background-image: linear-gradient(transparent, rgba(15,2,0,0.5) 80%, rgba(15,2,0,0.55) 50%);
}

@media(min-width: 769px){
  .home-address {
    display: none;
  }
}

.home-tel {
  margin: 0;
  padding: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--light);
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.home-tel:hover, .home-tel:active {
  color: var(--lighter);
}

.home-line {
  display: block;
  width: 1px;
  max-width: 1px;
  height: 100%;
  background-color: var(--light);
}

/* about us */

.section-about-us {
  scroll-margin-block-start: 90px;
}

.about-club {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width: 1025px) {
  .about-us-title {
    margin-bottom: 0;
  }
  .about-club-text {
    padding-bottom: 40px;
  }
}

.about-us-img {
  width: 50.7%;
}

.about-club-text {
  width: 40.57%;
}

@media(max-width: 768px) {
  .about-club {
    flex-direction: column-reverse;
  }
  .about-us-img {
    width: 100%;
    margin-bottom: 15px;
  }
  .about-club-text {
    width: 100%;
  }
}

.about-bogun {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 1025px) {
  .about-bogun {
    padding: 40px 0 60px;
  }
}

.about-bogun-title {
  text-transform: none;
  border-bottom: 1px solid var(--dark);
}

.about-bogun-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.about-us-logo {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media(min-width: 769px) {
  .about-bogun-desc {
    flex-direction: row;
    justify-content: center;
  }
  .about-us-logo {
    margin: 0 30px 0 0;
    max-width: 300px;
  }
}

@media(min-width: 769px) {
  .about-bogun-desc {
    width: 70%;
  }
}

.about-bogun-list {
  padding-left: 20px;
}

.about-bogun-item {
  margin-bottom: 5px;
  list-style-type: circle;
}

/* catalog */

.section-catalog {
  margin-top: 70px;
  margin-bottom: 10px;
}

@media(min-width: 1025px) {
  .section-catalog {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.catalog-title {
  margin: 12px 0;
  padding: 8px 8px 0 0;
}

.catalog-text {
  margin-bottom: 18px;
}

@media(min-width: 541px){
  .catalog-text {
    width: 66.2%;
  }
}

.download-link {
  color: var(--dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: color 0.15s ease-in-out;
}

.download-link:hover, .download-link:focus, .download-link:active {
  color: var(--less-dark);
}

.download-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--less-dark);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}

.download-link:hover::after, .download-link:focus::after, .download-link:active::after {
  width: 80%;
}

.example-list {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--example-gap);
  max-width: 100%;
}

.example-item {
  flex-basis: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: var(--example-gap);
  flex-shrink: 1;
  max-height: 450px;
  min-width: 100%;
}

.example-item img {
  flex-basis: 100%;
  object-fit: cover;
}

.example-01 {
  object-position: top;
}

.example-02 {
  max-width: 60%;
  object-fit: cover;
  object-position: center;
}

.example-03 {
  max-width: calc(40% - 5px);
}

.example-06 {
  max-width: 60%;
}

.example-07 {
  max-width: calc(40% - 5px);
}

.example-08 {
  max-width: calc(35% - 5px);
}

.example-08-2 {
  max-width: 65%;
}

.example-item-09 {
  max-height: 350px;
}

.example-09 {
  max-width: 55%;
}

.example-10 {
  max-width: calc(45% - 5px);
  object-position: center;
}

/* products-nav*/

.products-nav {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 18px 30px;
  max-width: 1227px;
  /* border-top: 1px solid var(--dark); */
}

@media(min-width: 1025px) {
  .products-nav {
    width: 70%;
  }
}

/* @media(max-width: 1024px) {
  .products-nav {
    margin-bottom: 80px;
  }
}

@media(max-width: 768px) {
  .products-nav {
    margin-bottom: 50px;
  }
} */

.produts-nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
}

.products-nav-link {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  padding: 5px 8px;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--dark);
  transition: color 0.15s ease-in-out;
}

.products-nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--less-dark);
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}

.products-nav-link:hover::after, .products-nav-link:focus::after, .products-nav-link:active::after {
  width: 75%;
}

.products-nav-link:hover, .products-nav-link:focus, .products-nav-link:active {
  color: var(--less-dark);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-full-catalog {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-full-link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--dark);
  background-color: var(--light);
  transition: all 0.15s ease-in-out;
}

.btn-full-link:hover, .btn-full-link:active {
  background-color: var(--lighter);
}

.svg-full-catalog {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.btn-full-link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: var(--dark);
  background-color: var(--light);
}

.svg-full-catalog {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* sketches */

.sketches-examples-list {
  width: 100%;
}

.sketches-examples-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--example-gap);
  overflow: hidden;
  max-width: 100%;
  max-height: 400px;
}

.sketches-examples-img {
  object-fit: cover;
  overflow: hidden;
  min-height: 100%;
  max-height: 400px;
}

.sketches-examples-item:first-child {
  margin-bottom: var(--example-gap);
}

.sketches-example-01, .sketches-example-04 {
  max-width: 60%;
}

.sketches-example-02, .sketches-example-03 {
  max-width: calc(40% - 5px);
}

/* contacts */

.section-contacts {
  margin-bottom: 24px;
  scroll-margin-block-start: 90px;
}

@media(min-width: 769px) {
  .section-contacts {
    margin-bottom: 48px;
  }
}

@media(min-width: 1025px) {
  .section-contacts {
    margin-bottom: 72px;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
}

@media(min-width: 1025px) {
  .contacts-text {
    width: 66.2%;
  }
}

.contacts-text {
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4px;
}

.contacts-link {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  transition: color 0.2s ease-in-out;
}

.contacts-link:hover, .contacts-link:active {
  color: var(--less-dark);
}

.contacts-img-container{
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

@media(min-width: 769px) {
  .contacts-img-container {
    padding: 0 72px;
  }
}

@media(min-width: 1025px) {
  .contacts-img-container {
    padding: 0 90px;
  }
}

/* footer */

.footer {
  max-width: 100%;
  background-color: var(--dark);
}

.footer-container {
  max-width: 100%;
  padding: 27px 72px;
}

@media(min-width: 1920px) {
  .footer-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media(max-width: 1024px) {
  .footer-container {
    padding: 24px 36px;
  }
}

@media(max-width: 768px) {
  .footer-container {
    padding: 21px 24px;
  }
}

@media(max-width: 540px) {
  .footer-container {
    padding: 18px 15px;
  }
}

.footer-title {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Leotaro', 'Roboto', serif;
  font-weight: normal;
  color: var(--light);
}

@media(min-width: 1280px) {
  .footer-title {
    margin-bottom: 3px;
  }
}

@media(min-width: 769px) {
  .footer-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 24px;
}

@media(min-width: 1280px) {
  .footer-content {
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }
}

.footer-nav {
  max-width: 100%;
  margin-right: 15px;
}

.footer-nav-list {
  display: flex;
  column-gap: 18px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.footer-nav-item {
  position: relative;
}

.footer-nav-link {
  display: inline-block;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
}

.footer-nav-link:hover, .footer-nav-link:active {
  color: var(--lighter);
}

.footer-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--lighter);
  transition: width 0.15s ease-in-out;
  transform: translateX(-50%);
}

.footer-nav-link:hover::after, .footer-nav-link:active::after {
  width: 80%;
}

.footer-address {
  margin-right: 15px;
  gap: 8px;
}

.footer-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--light);
}

.footer-link:hover, .footer-link:active {
  color: var(--lighter);
}

.footer-link-sergio {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--lighter);
}

.footer-link-sergio:hover, .footer-link-sergio:active {
  color: var(--lightest);
}

.footer-info {
  padding-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

@media(min-width: 1280px) {
  .footer-nav-list, .footer-info {
    max-width: 550px;
  }
}

.footer-text {
  margin: 0;
  min-width: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 14px;
  color: var(--light);
}

@media(min-width: 541px) {
  .footer-text {
    font-size: 15px;
  }
}

.footer-logo, .footer-logo-big {
  display: none;
}

@media(min-width: 769px) {
  .footer-logo {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
  }
}

@media(min-width: 1600px) {
  .footer-logo {
    display: none;
  }
  .footer-logo-big {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media(min-width: 1700px) {
  .footer-content {
    gap: 60px;
  }
}

.btn-up {
  display: none;
  position: fixed;
  z-index: 8;
  bottom: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  transition: all 2s ease-in-out;
  transition: display 2s ease-in-out;
}

@media(min-width: 1023px) {
  .btn-up {
    display: none;
  }
}

.btn-up svg {
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--lighter);
  transition: background-color 0.15s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.btn-up path {
  fill: var(--dark);
}
