@media (max-width: 768px) {
  .comparer {
    height: 85vh;
    max-height: 85vh;
  }

  .comparer__half {
    width: 100%;

    &_left {
      height: 0;

      & img, & picture {
        object-position: top;
      }
    }

    &_right {
      top: none;
      bottom: 0;

      & img, & picture {
        object-position: bottom;
      }
    }
  }

  .comparer-animation .comparer__half_left {
    min-width: 100%;
    height: 50%;
  }

  @keyframes appearHalf {
    from {
      height: 0;
    }
    to {
      height: 50%;
    }
  }

  .comparer__line {
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    padding: 3px 0;
    transform: translateY(-50%);
  }

  .comparer-animation .comparer__line {
    top: 50%;
    left: 0;
  }

  @keyframes appearLine {
    from {
      top: 0;
    }
    to {
      top: 50%;
    }
  }

  .comparer__line__inner {
    width: 100%;
    height: 6px;

    &::after {
      top: -4px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}
