.section-sketches {
  margin-top: 80px;
  margin-bottom: 20px;
}

.sketches-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0 auto;
}

.sketches-item {
  margin: 0;
  width: var(--card-width);
  min-width: 340px;
  max-width: 435px;
  overflow: hidden;
}

.sketches-img {
  display: inline-block;
  margin: auto 0;
  border-radius: 5px;
  object-position: center;
  object-fit: contain;
  max-height: 100%;
}
